* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.green-title {
  color: green;
}

.leftside p,
.rightside p,
.rightside img,
.leftside h1,
.rightside h1 {
  margin: 10px 0;
  font-size: 1.2rem;
  max-width: 100%;
  color: black;
}
.leftside input,
.rightside input {
  color: black;
  font-size: 1.3rem;
}
.container {
  display: flex;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 10px 20px;
  padding: 10px;
  justify-content: center;
  width: 100%;
  height: 80vh;
  /* margin: auto; */
  flex-wrap: wrap;
}

.leftside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px 0px;
  border: 1px solid black;
  padding: 19px;
  margin: 0 auto;

  flex-wrap: wrap;
}

.leftside img {
  width: 250px;
  height: 250px;
  border-radius: 50%;

  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.button {
  display: block;
  justify-content: center;
  background-color: #000;
  /* width: 100%; */
  color: white;
  height: 40px;
  margin: 0 auto;
  display: flex;
  width: 20%;
  text-align: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
}
.winner {
  display: none;
}
.loser {
  display: none;
}
.Home {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  background-color: black;
  height: 50px;
}
