* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px 20px;
  flex-wrap: wrap;
  /* gap accept column & row
 */
}
.leftside {
  width: 30%;
  display: flex;
  justify-content: center;
  background-color: #ebebeb;
  padding-top: 50px;
  flex-direction: column;
  max-height: 100%;
  align-items: center;
  font-size: 1em;
  border: 1px solid #1f1f1f;
  padding-bottom: 20px;
}
.leftside p,
.leftside img,
.leftside input,
.leftside h1 {
  margin: 10px 0;
  font-size: 1rem;
  max-width: 100%;
}
.leftside p {
  margin: 0 40px;
}
img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
.button {
  background-color: green;
  width: 300px;
  color: white;
  height: 40px;
}
