* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.container {
  max-width: 100%;
  max-width: 100%;
  margin-bottom: 100px;
  /* padding: 16px; */
}

.header {
  display: flex;
  font-size: 14px;
  line-height: 1.5;
  max-width: 100%;
  height: 64px;
  background-color: #24292f;
  padding: 16px;
  /* background-color: blue; */
  align-items: center;
  color: white;
  justify-content: space-between;
  flex-wrap: wrap;
}
.left-header {
  display: flex;
  align-items: center;
}
img {
  width: 25px;
  height: 25px;
}
.logo {
  align-self: center;
  margin-right: 10px;
}
.search {
  display: flex;
  width: 250px;
  margin-left: 10px;
  border: 2px solid #363c44;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}
button {
  border: none;
}
.search p {
  margin-left: 10px;
}
.navbar-headers {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-headers p {
  margin: 0px 20px;
  font-weight: 600;
}
.user-navbar {
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-navbar p {
  margin-right: 20px;
  font-size: 14px;

  font-weight: 400;

  line-height: 30px;
}
hr {
  opacity: 0.5;
}

.middle-section-userinfo {
  display: flex;
  width: 70%;
  margin: auto;
  gap: 20px;
}
.leftside-info {
  display: flex;
  width: 25%;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.leftside-info img {
  width: 260px;
  height: 260px;
  border-radius: 50%;

  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-border-radius: 50%;
}
.leftside-info .userinfo {
  align-self: flex-start;
}
.container-of-repos {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
}
.repo-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  flex-wrap: wrap;
}
.all-repo-info {
  /* border: 2px solid #d0d7de; */
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  height: 150px;
  padding: 15px;
}
.public {
  border: 1px solid #98a1ab;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  font-size: 12px;
  width: 50px;
  text-align: center;
}
.bot-of-repo {
  align-self: flex-end;
  display: flex;
  align-items: flex-end;
  /* justify-content: flex-end; */
  width: 100%;
  height: 77%;
  font-weight: 100;
  font-size: 12px;
}
hr {
  margin-bottom: 30px;
}
.container-repos {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  gap: 20px 40px;
}
.nameofuser {
  margin: 20px 0px;
}
.location {
  margin-top: 20px;
}
.top-of-repo {
  display: flex;
  justify-content: space-between;
}
.top-of-repo a {
  color: #0969da;
  font-weight: 600;
  text-decoration: none;
  font-size: 14px;
}
/* Add more CSS rules for other elements as needed */
